header{
    position: static;
}

#menu {
    right: 2%;
    top: 1.5%;
}

#menuDiv {
    width: 100%;
    top: 8.4%;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
    margin-top: 0.5%;
}

main {
    height: 30%;
    top: 20%;
    left: 8.3%;
}

main h1:nth-child(2) {
    top: 25%;
}

main h1:nth-child(3) {
    top: 50%;
}